body {
font-family: Arial;
margin: 0;
background-color: #0d1117;
color: white;
}

header {
background-color: #161b22;
padding: 20px;
text-align: center;
}

section {
padding: 40px;
}

.card {
background-color: #161b22;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
}

h1, h2 {
color: #58a6ff;
}

ul {
line-height: 1.8;
}

footer {
text-align: center;
padding: 20px;
background-color: #08112f;
}
